@import "./colors.scss";
@import "./mixin.scss";

.note-item {
  &__main {
    @include border;
    @include item;

    background: $note-background;
  }

  &__title {
    @include title;
  }

  &__button {
    @include button-size;

    p {
      @include button-paragraph;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__footer-button {
    @include border;
    @include todo-size;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 20px;
    font-size: 10px;
    text-align: center;
    color: $prompt-color;
    background: $note-background;
  }

  &__title,
  &__button {
    @include border;

    border-radius: 4px;
  }
}
