@import "./colors.scss";
@import "./mixin.scss";

.todo-item {
  &__main {
    @include item;

    padding: 0 5px;
  }

  &__checkbox {
    margin-right: 10px;
    border-radius: 50% !important;
  }

  &__title {
    @include title;

    margin-right: 10px;
  }

  &__button {
    border-radius: 4px;

    p {
      @include button-paragraph;
    }
  }

  &__footer {
    @include border;
    @include sub-item-size;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__deadline {
    min-height: 10px !important;
    font-size: 10px;
    text-align: center;
    color: $prompt-color;
  }

  &__main,
  &__footer {
    background: $todo-background;
  }

  &__main,
  &__checkbox,
  &__button {
    @include border;
  }

  &__checkbox,
  &__button {
    @include button-size;
  }

  &_completed &__main {
    background: linear-gradient(90deg, $todo-background 0%, $header-background 100%);
  }

  &_completed &__checkbox {
    background: $header-background;
  }
}
