.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #33322e;
  border-radius: 6px;
  padding: 15px;
  box-shadow: 1px 1px 0 #33322e;
  background: #f9f3e5;

  &_completed {
    // background: linear-gradient(90deg, rgba(249, 243, 229, 1) 0%, rgba(244, 215, 153, 1) 100%);s
    background: linear-gradient(90deg, rgba(249, 243, 229, 1) 0%, rgba(176, 227, 255, 1) 100%);
  }

  &__checkbox {
    margin-right: 30px;
    border-radius: 50% !important;
    height: 24px;
    min-width: 24px;
  }

  &__title {
    margin-right: 30px;
    padding: 6px;
    width: 100%;
    min-height: 32px;
    font-size: 18px;
  }

  &__button {
    height: 24px;

    p {
      margin-top: -8px;
      padding: 4px;
      font-size: 24px;
    }
  }

  &__checkbox,
  &__title,
  &__button {
    border: 1px solid #33322e;
    border-radius: 4px;
    box-shadow: 1px 1px 0 #33322e;
  }
}
